
<div class="jumbotron">
  <h1>Flask</h1>
  <p class="lead">Flask is a microframework for Python based on Werkzeug and Jinja 2.</p>
  <p><a class="btn btn-lg btn-success" target="_blank" href="http://flask.pocoo.org/" role="button">More info</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Built-in development server and debugger</h4>
    <p>The flask script is nice to start a local development server, but you would have to restart it manually after each change to your code. That is not very nice and Flask can do better. If you enable debug support the server will reload itself on code changes, and it will also provide you with a helpful debugger if things go wrong.</p>

    <h4>Integrated unit testing support</h4>
    <p>Flask provides a way to test your application by exposing the Werkzeug test Client and handling the context locals for you. You can then use that with your favourite testing solution. In this documentation we will use the unittest package that comes pre-installed with Python.</p>

    <h4>RESTful request dispatching</h4>
  </div>

  <div class="col-lg-6">
    <h4>Uses Jinja2 templating</h4>
    <p>Jinja2 is a modern and designer-friendly templating language for Python, modelled after Django’s templates.</p>

    <h4>support for secure cookies</h4>
    <p>In addition to the request object there is also a second object called session which allows you to store information specific to a user from one request to the next. This is implemented on top of cookies for you and signs the cookies cryptographically. What this means is that the user could look at the contents of your cookie but not modify it, unless they know the secret key used for signing.</p>

    <h4>100% WSGI 1.0 compliant</h4>
  </div>
</div>
