<section class="content-header">
  <h1>
    Angular JS
    <small> Info</small>
  </h1>
</section>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Why AngularJS?</div>
        <div class="panel-body">
          <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
          <a target="_blank" href="https://angularjs.org/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Alternatives</div>
        <div class="panel-body">
          <p>Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.</p>
          <a target="_blank" href="https://angularjs.org/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Extensibility</div>
        <div class="panel-body">
          <p>AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>
          <a target="_blank" href="https://angularjs.org/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Data Binding</div>
        <div class="panel-body">
          <p>Data-binding is an automatic way of updating the view whenever the model changes, as well as updating the model whenever the view changes. This is awesome because it eliminates DOM manipulation from the list of things you have to worry about.</p>
          <a target="_blank" href="https://angularjs.org/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
